.Dictionary section {
  background: #ffc0cb;
  padding: 10px;
  border-radius: 16px;
  margin: 20px 0;
}

.Dictionary input {
  width: 80%;
  border-radius: 9px;
  background: #ffecef;
  color: #55330c;
}

.Dictionary button {
  background: #ffecef;
  color: #55330c;
  font-weight: bold;
  width: 15%;
  border-radius: 9px;
  margin-left: 15px;
}
